/* You can add global styles to this file, and also import other style files */
table, th, td{
    border: 1px solid;
    border-collapse: collapse;
}

table{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th{
    width: 25%;
    background-color: rgb(27, 227, 20);
}
td{
    width: 25%;
}